.block {
  display: flex;
  height: 72px;
  width: 100%;
  flex-direction: column;
}

.menu {
  height: 71px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  width: 269px;
  height: 100%;
  position: relative;
}

.logoText {
  position: absolute;
  font-family: 'Roboto Flex';
  font-style: normal;
  width: 100%;
  height: 100%;
  font-weight: 647;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-stretch: 100%;
  color: #000000;
  font-variation-settings: 'GRAD' 30, 'slnt' 0, 'XTRA' 588, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 475, 'YTUC' 675, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

.logoNums {
  position: absolute;
  font-family: 'Roboto Flex';
  font-style: normal;
  width: 100%;
  height: 100%;
  font-weight: 1000;
  font-size: 57px;
  line-height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 36, 58, 0.15);
  font-stretch: 100%;
  font-variation-settings: 'GRAD' 30, 'slnt' 0, 'XTRA' 588, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 475, 'YTUC' 675, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  z-index: 1;

}

.buttons {
  width: 299px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-self: end;
  justify-self: end;
  margin-left: auto;
}

.icon {
  font-size: 32px;
  margin-right: 20px;
  color: #868686;
  stroke-width: 1.7;
}

.icon:hover {
  color: #0074D9;
}

.search {
  width: calc(100% - 270px - 300px);
  align-self: center;

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.searchBar {
  width: 70%;
  height: 37px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(217, 217, 217, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 6px;
}

.searchIcon {
  height: 19px;
  width: 19px;
}

.searchBarText {
  font-family: 'Effra';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 2px;
}

.decorationMenu {
  width: 1px;
  height: 44.5px;
  background: rgba(0, 0, 0, 0.35);
}

.decorationBottom {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.leftMenu {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  min-width: 270px;
  height: calc(100vh - 72px);
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  padding-top: 30px;
  overflow-x: scroll;
}

.leftMenu::-webkit-scrollbar { width: 0; }

.activeTile {
  height: 40px;
  display: flex;
  align-items: center;
  background: linear-gradient(89.81deg, #181C2D -17.89%, #1F253C 113.82%);
  border-radius: 5px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 7px;
}

.activeTileText {
  margin-left: 20px;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  font-stretch: 100%;
  color: #ffffff;
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 484, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

.tile {
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  transition: 200ms linear;
  margin-bottom: 7px;
}

.tile:hover {
  background: linear-gradient(89.81deg, rgba(24, 28, 45, 0.05) -17.89%, rgba(31, 37, 60, 0.05) 113.82%);
}

.tileText {
  margin-left: 20px;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  font-stretch: 100%;
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 484, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

.rightMenu {
  min-width: 300px;
  width: 300px;
  height: calc(100vh - 72px);
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  display: flex;
  margin-right: 0;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  padding: 22px 22px 0 22px;
  overflow-x: scroll;
}

.rightMenu::-webkit-scrollbar { width: 0; }

.rightMenuButton {
  height: 60px;
  width: 60px;
  margin-top: 25px;
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}


#rightMenuHide {
  display: none;
}

.userImage {
  margin-top: 0px;
  min-width: 130px;
  min-height: 130px;
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.36));
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: 200ms linear;
}

.userImage:hover {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.36);
}

.username {
  margin-top: 20px;
  font-family: 'Effra';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 35px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.nickname {
  font-family: 'Effra';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.eventsBlock {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.eventsAction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Effra';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.8);
}

.eventsList {
  margin-top: 8px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-x: scroll;
}

.eventsList::-webkit-scrollbar { width: 0; }

.eventTile {
  width: 100%;
  min-height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #D9D9D9;
  border-radius: 7px;
}

.eventImage {
  margin-left: 12px;
  height: 43px;
  width: 43px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 100%;
}

.eventInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#messagesOff {
  height: auto;
}

#messagesOn {
  max-height: 220px;
  overflow-x: scroll;
}

#messages_on::-webkit-scrollbar { width: 0; }

.eventFrom {
  font-family: 'Effra';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.8);
}

.eventTime {
  font-family: 'Effra';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.5);
}


